In [2]:
import pandas as pd

In [9]:
id =[120566, 72002, 122662, 140133, 87502, 71770, 144682, 148136, 72175, 110316, 110441, 57726, 135711, 139629, 64401, 148022, 114356, 104037, 71779, 143075, 64411, 69659, 144573, 72720, 60447, 148014, 109041, 142145, 39463, 46861, 83706, 108749, 108321, 125043, 102647, 71309, 144513, 67873, 66561, 47109, 109107, 125930, 143254, 39456, 102938, 56967, 71790, 105663, 109201, 68610, 147868, 106739, 122121, 72890, 135574, 120935, 140150, 106686, 120469, 147667, 103394, 147540, 105493, 66543, 147284, 76558, 143223, 143124, 71858, 63919, 106654, 70958, 72067, 46086, 147504, 69902, 135122, 122772, 71420, 109069, 141349, 68980, 148626, 39539, 106805, 140237, 141997, 110465, 64823, 65683, 107962, 141206, 101991, 109207, 48994, 143534, 102585, 71498, 133757, 72151, 113634, 46516, 121337, 144559, 64262, 147049, 109290, 102042, 71488, 72135, 109293, 100543, 145535, 97613, 48079, 148357, 71849, 65793, 72341, 65175, 145323, 106404, 64637, 144555, 140998, 142304, 110444, 138094, 142597, 109955, 109056, 102861, 109510, 71485, 105484, 135721, 138726, 71342, 147588, 70927, 69443, 49188, 72441, 72129, 71886, 138822, 110421, 72498, 139203, 72603, 84282, 71389, 109715, 110275, 147814, 142199, 148472, 48811, 147204, 109353, 110036, 140786, 147840, 48199, 39202, 63024, 105463, 139849, 136970, 48564, 97623, 69338, 87033, 72081, 110299, 130622, 54798, 69063, 70438, 88467, 56140, 714, 29865, 147636, 110161, 47639, 51908, 85769, 115360, 109179, 125793, 133413, 121116, 84, 1, 12, 371, 62, 304, 367]
employeename =['Teresa L Cavanaugh', 'Ray Torres', 'Rizaldy T Tabada', 'Gregory B Bovo', 'Jason L Landivar', 'Fernando Barajas', 'George Fudge', 'Jose F Granados', 'Linda Pizzorno', 'Sophia  Wu', 'Maria E Zuniga', 'Sara Paredes', 'Adina M Diamond', 'Terry L Johnson', 'Sherry Mahoney', 'Kari A Johnson', 'Joseph M Salazar', 'Annette  Kess', 'Ayala Mirande', 'George L Abrams Jr', 'Seaborn Chiles', 'Gwen Ferdinand', 'Robert E Lee Jr', 'Andre Thomas', 'James Lockhart', 'Eric J Chen', 'Paul J Ortiz', 'Victor N Yeung', 'Steven Stocker', 'Theresa Courtney', 'Donald V Ortiz', 'Vivian A Showers', 'Lenora  Hamilton', 'Ryan J Jamison', 'Alvin  Sosa', 'Ernanie Rasquero', 'Ben D Malone', 'Niem Tran', 'Nicole Freeney', 'Stephen Kendall', 'Elizabeth J Dayrit', 'Andrew G Chen', 'Larry J Davis', 'Melonee Alvarez', 'Pelzie L Smith', 'Denise Alexander', 'David Fleming', 'Brian E Oconnor', 'Jesus J Aromin', 'Liane Angus', 'Alma Rosa Garcia', 'Joann G Siobal', 'Michael Mason', 'Grace Salud', 'Raffaella V Wilson', 'Lance A Obtinalla Jr', 'Ryan C Crow', 'Tracy Y Higgins', 'Alexander M Lamond', 'Justina Dizon', 'Daniel Phillip Boutote', 'Ivan Y Castillo', 'Willie  Daigle Jr', 'Margarita Herrera', 'Alan K Tolbert', 'Kathryn  Waaland', 'Luana D Beavers-Deloach', 'Marie E Monsen', 'Arnitial Donely', 'Christopher Wilcox', 'Ira  Newman', 'Mandisa Mabrey', 'Juliet Palarca', 'Arnel Maracha', 'Jamie J Dwyer', 'Jacquelyn Vassar', 'Melinda Wong', 'Graham P Hoffman', 'Kevin Clark', 'Antionette L Riley', 'Audrey Ngo', 'Robert Martinez', 'Renato C Gurion', 'Omar Bueno', 'Georgina M Pineda', 'Beverly Bagdorf', 'Emmanuel R Borja', 'Vanessa E Almaguer', 'Lilly Fung', 'Mo Ching Wan', 'Leanne Abrigo  Johnson', 'Wallina C Pellette', 'Tretha T Stroughter', 'Yolanda  Ramirez', 'Sarah Silva', 'Monique C Jacobs', 'Arturo  Galarza', 'Willie Collins', 'Kathryn L Fowler', "Jack O'Sullivan", 'Mark F Obrochta', 'Petra Hahn', 'Yvette R Gay', 'Jarrett L Louie', 'Emily Anderson', 'Darryl L Armstrong', 'Claire M Leflore', 'Mary R Carr', 'Maiza Padilla', 'Joannie Keys', 'Orlando M Gonzalez', 'Kenia C Coronado', 'Wing C Kwan', 'Natalia Y Castillo Villegas', 'Ceasar Garcia', 'Darrel A Lachapelle', 'Shickola Ricks', 'Linda Edwards', 'Reuben Reyes', 'Barry Hyun', 'Heather E Gutierres', 'Carolyn E Robinson', 'Matthew Lu', 'Lawrence C Blakes Jr', 'Miguel J Gonzalez Jr', 'Tara A Amado', 'Brighton M Leung', 'Nicole J Lafata Shark', 'Ernest E Hayles', 'David A Fleming', 'Melinda  Kuoch', "Jeanne M D'Arcy", 'Iesha M Jones', 'Clarence Walker', 'Michaela T Womack', 'Mary C Huston', 'Christina A Couch', 'Roy Hill', 'Jessica H Lee', 'Kennis Grant', 'John Hunt', 'Richard Kendall', 'Marcus Duty', 'Glenn Daniels', 'David Ayers Jr', 'Neal K Rodil', 'Blesilda P Huypungco', 'Catheryn Williams', 'Merter Bozkurt', 'Connie Love-Miles', 'Jared F Cooper', 'Alicia Brown', 'Sen Cheong  Lai', 'Graciela M Arevalo', 'Iris J Lett', 'Tim C Ghigliazza', 'Jimmy Tang', 'Aaron Schmidt', 'Mario Armbrister', 'Elizabeth M Leahy', 'Carla R Greenblatt', 'Dhakir R Zaki', 'Alondra Correa Almanza', 'Otha Cotton', 'Lawrence Chan', 'Ying Ying Hui', 'Terri L Mathis', 'Sedrick M Mcarthur', 'Karen M Gomez', 'Thomas Ro', 'Francis J Monsada', 'Samer Bouri', 'Robert J Loberg', 'John Donnelly', 'Silas D Moultrie Jr', 'Dennis J Gerbino', 'Frankie Johnson', 'Nina Davis', 'Pecola Jones', 'Grace  Lin', 'Clark Bell', 'YEVA JOHNSON', 'LEA YAMAGATA', 'Russell Patrick Mangahas', 'Patrick F Mcpartland', 'Patrick Crane', 'Patrick Martinez', 'Patrick T Truong', 'Patrick Kennedy', 'Emilia C Patrick', 'Patrick S Renshaw', 'Emilia C Patrick', 'Patrick T Truong', 'EDWARD REISKIN', 'NATHANIEL FORD', 'PATRICIA JACKSON', 'TERESA BARRETT', 'ANNA BROWN', 'DOUGLAS MCEACHERN', 'JOHN LOFTUS']
jobtitle =['EMT/Paramedic/Firefighter', 'Public Service Trainee', 'Deputy Sheriff', 'Firefighter', 'EMT/Paramedic/Firefighter', 'Public Svc Aide-Public Works', 'Transit Operator', 'Public Svc Aide-Public Works', 'Registered Nurse', 'Public Service Trainee', 'Transit Operator', 'Registered Nurse', 'Registered Nurse', 'Transit Operator', 'EMT/Paramedic/Firefighter', 'Firefighter', 'Sergeant 3', 'Transit Operator', 'Special Nurse', 'Transit Operator', 'EMT/Paramedic/Firefighter', 'Transit Operator', 'Transit Operator', 'Public Svc Aide-Public Works', 'EMT/Paramedic/Firefighter', 'Public Service Trainee', 'Special Nurse', 'Transit Operator', 'Sergeant 3', 'Deputy Sheriff', 'Deputy Sheriff', 'Transit Operator', 'Transit Operator', 'EMT/Paramedic/Firefighter', 'Transit Operator', 'Special Nurse', 'Transit Operator', 'Transit Operator', 'Transit Operator', 'Deputy Sheriff', 'Special Nurse', 'Estate Investigator', 'Transit Operator', 'Sergeant 3', 'Transit Operator', 'Estate Investigator', 'Special Nurse', 'Deputy Sheriff', 'Public Svc Aide-Public Works', 'Registered Nurse', 'Special Nurse', 'Registered Nurse', 'EMT/Paramedic/Firefighter', 'Special Nurse', 'Registered Nurse', 'Deputy Sheriff', 'Firefighter', 'Transit Operator', 'EMT/Paramedic/Firefighter', 'Special Nurse', 'Eligibility Worker', 'Public Svc Aide-Public Works', 'Transit Operator', 'Registered Nurse', 'Public Svc Aide-Public Works', 'Sergeant 3', 'Transit Operator', 'Transit Operator', 'Public Svc Aide-Public Works', 'Registered Nurse', 'Transit Operator', 'Eligibility Worker', 'Special Nurse', 'Deputy Sheriff', 'Special Nurse', 'Transit Operator', 'Junior Administrative Analyst', 'EMT/Paramedic/Firefighter', 'Public Svc Aide-Public Works', 'Public Svc Aide-Public Works', 'Registered Nurse', 'Registered Nurse', 'Registered Nurse', 'Sergeant 3', 'Transit Operator', 'Registered Nurse', 'Transit Operator', 'Special Nurse', 'Registered Nurse', 'Registered Nurse', 'Registered Nurse', 'Transit Operator', 'Eligibility Worker', 'Special Nurse', 'Deputy Sheriff', 'Transit Operator', 'Eligibility Worker', 'Public Svc Aide-Public Works', 'Registered Nurse', 'Public Service Trainee', 'Sergeant 3', 'Deputy Sheriff', 'Deputy Sheriff', 'Transit Operator', 'EMT/Paramedic/Firefighter', 'Transit Operator', 'Eligibility Worker', 'Eligibility Worker', 'Public Svc Aide-Public Works', 'Transit Operator', 'Public Svc Aide-Public Works', 'Eligibility Worker', 'Transit Operator', 'Junior Administrative Analyst', 'Deputy Sheriff', 'Public Service Trainee', 'Eligibility Worker', 'Transit Operator', 'Special Nurse', 'Eligibility Worker', 'Eligibility Worker', 'Transit Operator', 'Transit Operator', 'Transit Operator', 'Transit Operator', 'Transit Operator', 'Public Svc Aide-Public Works', 'EMT/Paramedic/Firefighter', 'Firefighter', 'Special Nurse', 'Eligibility Worker', 'Registered Nurse', 'Public Svc Aide-Public Works', 'Public Svc Aide-Public Works', 'Transit Operator', 'Registered Nurse', 'EMT/Paramedic/Firefighter', 'Public Svc Aide-Public Works', 'Special Nurse', 'Transit Operator', 'Transit Operator', 'Deputy Sheriff', 'Public Svc Aide-Public Works', 'Public Svc Aide-Public Works', 'Public Svc Aide-Public Works', 'EMT/Paramedic/Firefighter', 'Special Nurse', 'Special Nurse', 'Transit Operator', 'Special Nurse', 'EMT/Paramedic/Firefighter', 'Public Svc Aide-Public Works', 'Transit Operator', 'Special Nurse', 'Transit Operator', 'Transit Operator', 'Public Service Trainee', 'Deputy Sheriff', 'Public Svc Aide-Public Works', 'Firefighter', 'Special Nurse', 'Transit Operator', 'Public Service Trainee', 'Deputy Sheriff', 'Sergeant 3', 'Registered Nurse', 'Transit Operator', 'Transit Operator', 'Registered Nurse', 'EMT/Paramedic/Firefighter', 'Junior Administrative Analyst', 'Transit Operator', 'Deputy Sheriff', 'Special Nurse', 'Public Svc Aide-Public Works', 'IS Programmer Analyst', 'Senior Eligibility Worker', 'PS Aide Health Services', 'Public Svc Aide-Public Works', 'Estate Investigator', 'IS Programmer Analyst-Senior', 'SENIOR PHYSICIAN SPECIALIST', 'LIBRARY PAGE', 'Special Nurse', 'Public Service Trainee', 'Deputy Sheriff', 'Estate Investigator', 'Deputy Sheriff', 'Sergeant 3', 'Special Nurse', 'EMT/Paramedic/Firefighter', 'Registered Nurse', 'Deputy Sheriff', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'CAPTAIN III (POLICE DEPARTMENT)', 'CAPTAIN III (POLICE DEPARTMENT)', 'CAPTAIN III (POLICE DEPARTMENT)', 'CAPTAIN III (POLICE DEPARTMENT)', 'CAPTAIN III (POLICE DEPARTMENT)']
basepay =[100952.41, 1121.28, 92403.77, 23757.5, 82115.61, 1585.6, 4390.15, 661.2, 0.0, 295.41, None, 65061.57, 52901.45, 21183.22, 29579.0, 688.71, 124770.09, None, 367.73, 7316.62, 29579.0, 4506.51, 4390.16, 155.85, 58842.0, 800.13, 1768.55, 11889.93, 135977.79, 88374.0, 95126.53, 2056.09, 2529.28, 81789.51, 19331.12, 1831.8, 381.69, 8975.38, 9877.98, 81967.01, 1783.94, 82052.03, 813.86, 135977.71, 17563.25, 61663.37, 1294.4, 10433.32, 2123.47, 9456.38, 849.45, None, 79486.03, 0.0, 60506.68, 93795.43, 23757.5, None, 80143.0, 989.1, 18943.0, 1597.9, 7064.29, 17973.09, 2070.29, 141389.04, 7159.17, 7316.8, 1506.55, 19711.37, None, 3165.48, 981.72, 88374.0, 1285.05, 4017.09, 53190.53, 80031.97, 2337.75, 2396.21, 18725.55, 8862.65, 0.0, 135967.55, None, 14958.86, 10841.17, 72.98, 28586.7, 22650.0, 4015.0, 14872.99, 24282.43, 1505.7, 78346.64, 7781.96, 23928.01, 2129.95, 61942.6, 999.36, 137982.17, 78353.8, 91439.78, 4390.16, 29175.65, 1934.15, 1994.0, 24628.57, 1871.39, 595.12, 1987.09, 37992.28, 3421.96, 56813.75, 87677.95, 320.0, 1508.8, 16724.27, 531.94, 22931.02, 6276.49, 5904.0, 25938.35, 4390.16, 17505.51, 11672.8, 104.9, 40315.5, 11180.0, 618.19, 1994.0, 5119.0, 1542.97, 2129.95, 7239.23, 58997.59, 30732.0, 2461.14, 1278.2, 0.0, 6150.2, 77550.95, 519.5, 1026.05, 1428.63, 30732.0, None, 338.51, 24987.15, 143.65, 87205.86, 2337.75, 729.44, 263.29, 756.92, 10305.1, 182.58, 76558.8, 2180.13, None, 494.55, 13976.1, 1074.0, 87947.57, 135977.76, 39599.08, 7611.73, 18880.5, 49186.88, 74118.62, 53325.01, 5997.16, 83331.6, 930.75, 311.7, 67667.55, 68977.7, 8928.12, 4511.81, 82901.08, 48945.1, 177810.58, 16863.33, 0.0, 501.13, 84356.51, 77454.0, 86758.9, 124770.11, 1824.38, 72637.09, 65992.6, 90269.0, 230827.12, 167411.18, 99722.0, 188328.08, 102571.24, 194566.01, 188341.62]
overtimepay =[0.0, 0.0, 138.18, 0.0, 666.79, 0.0, 1059.31, 0.0, 0.0, 0.0, 0.0, 0.0, 3307.79, 3841.15, 0.0, 0.0, 14167.98, 0.0, 942.38, 1622.58, 551.46, 391.87, 1258.02, 0.0, 0.0, 0.0, 0.0, 0.0, 1044.0, 3897.86, 57.21, 0.0, 0.0, 1750.43, 484.95, 0.0, 0.0, 162.14, 2607.74, 8984.59, 0.0, 0.0, 0.0, 5929.86, 490.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11570.7, 0.0, 701.61, 1738.87, 0.0, 0.0, 19393.4, 0.0, 0.0, 0.0, 455.11, 80.08, 0.0, 4981.45, 1303.18, 1426.95, 0.0, 3004.88, 0.0, 11.22, 0.0, 0.0, 0.0, 278.96, 0.0, 11455.35, 0.0, 0.0, 0.0, 0.0, 0.0, 3237.59, 0.0, 0.0, 950.95, 0.0, 0.0, 0.0, 0.0, 4598.75, 2048.88, 0.0, 7001.85, 0.0, 0.0, 0.0, 0.0, 0.0, 9196.03, 22953.71, 1048.86, 1307.11, 2139.69, 0.0, 0.0, 2161.28, 0.0, 0.0, 0.0, 909.0, 0.0, 0.0, 1035.25, 0.0, 0.0, 1738.13, 0.0, 0.0, 0.0, 0.0, 435.95, 1314.78, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 177.59, 50.29, 1446.58, 0.0, 0.0, 0.0, 1171.18, 470.78, 0.0, 0.0, 0.0, 1351.53, 0.0, 0.0, 1725.24, 0.0, 2826.74, 0.0, 0.0, 0.0, 170.31, 694.2, 0.0, 13435.42, 0.0, 0.0, 0.0, 4093.11, 0.0, 501.0, 7718.7, 1085.78, 772.69, 7842.37, 125.89, 15060.35, 1147.97, 0.0, 4224.52, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5334.96, 0.0, 877.32, 4709.34, 0.0, 6033.4, 0.0, 4330.78, 0.0, 0.0, 87082.62, 0.0, 7437.0, 1109.1, 0.0]
otherpay =[4254.88, 0.0, 2903.94, 0.0, 5220.34, 0.0, 12.11, 0.0, 795.01, 0.0, 114.54, 975.0, 2286.95, 510.61, 2402.7, 0.0, 7510.15, 11808.0, 44.11, 30.95, 1626.46, 46.56, 9.08, 2.44, 3801.37, 35.66, 243.6, 0.0, 12934.3, 6778.32, 6787.65, 0.0, 0.0, 2791.35, 460.37, 61.06, 8103.54, 51.1, 3446.78, 6725.08, 178.39, 0.0, 11803.87, 6457.7, 121.01, 187.2, 63.5, 742.59, 0.0, 0.0, 28.32, 0.0, 7049.8, 37.36, 0.0, 6970.54, 0.0, 0.0, 6783.04, 164.85, 967.4, 0.0, 32.56, 21.36, 0.0, 2832.11, 39.68, 52.85, 0.0, 16478.15, 115.72, 109.29, 0.0, 12448.42, 63.5, 16.37, 0.0, 5163.82, 0.0, 0.0, 160.31, 365.99, 6.0, 9032.26, 0.0, 12311.86, 235.79, 0.0, 0.0, 0.0, 0.0, 87.52, 1851.05, 239.96, 4451.18, 0.0, 360.0, 43.92, 1959.8, 2.05, 5670.36, 1062.13, 8289.84, 9.08, 2169.08, 0.0, 0.0, 191.17, 0.0, 0.0, 0.0, 765.0, 0.0, 0.0, 3699.04, 0.0, 0.0, 243.39, 36.64, 0.0, 0.0, 0.0, 443.99, 9.08, 57.7, 46.16, 2.46, 2418.93, 0.0, 24.72, 0.0, 22525.52, 0.0, 43.92, 32.02, 1868.27, 2370.77, 9.01, 0.0, 106.86, 537.12, 10965.66, 12.2, 0.0, 0.0, 1480.38, 113.94, 33.84, 885.43, 14.37, 10520.93, 48.8, 30.32, 26.33, 0.0, 121.82, 0.0, 1909.7, 47.64, 1886.38, 49.45, 326.18, 32.64, 4056.2, 7733.28, 1997.48, 60.12, 250.28, 575.0, 7864.68, 0.0, 0.0, 1119.79, 31.02, 7.32, 0.0, 612.6, 0.0, 0.0, 0.0, 23100.3, 950.0, 201.09, 1153.78, 0.0, 5764.75, 0.0, 6484.64, 8031.28, 0.0, 5105.38, 296.7, 7372.09, 0.0, 400184.25, 110804.3, 4586.42, 128543.64, 819.03, 4609.75]
benefits =[34317.37, 185.77, 33625.27, 9982.21, 28933.91, 178.07, 2846.74, 6.61, 230.64, 2.95, 0.0, 23477.4, 19383.18, 13384.77, 11785.19, 143.39, 40182.2, 7959.18, 388.96, 4742.85, 11871.64, 2806.53, 2847.85, 13.84, 17031.18, 8.35, 451.01, 6285.35, 36523.7, 34097.49, 33016.42, 982.35, 1464.59, 31039.42, 11349.44, 847.08, 196.19, 5794.22, 6295.89, 34177.42, 371.87, 31796.98, 418.32, 38170.25, 10229.59, 30295.13, 371.94, 0.0, 21.23, 2042.66, 191.27, 7959.18, 33573.17, 8.91, 17555.43, 35014.44, 9982.21, 8014.34, 33498.66, 214.11, 4468.04, 15.98, 4364.12, 4245.6, 20.7, 40661.65, 4640.62, 4747.43, 116.64, 10172.15, 7959.18, 286.43, 283.6, 36413.52, 324.83, 2641.41, 27849.12, 31853.0, 204.3, 23.97, 4351.3, 740.47, 1.24, 37389.65, 7959.18, 5538.93, 7082.09, 15.2, 10105.75, 6714.77, 876.07, 4652.55, 10164.46, 383.43, 33280.0, 4026.55, 7988.84, 190.04, 22291.87, 78.01, 43038.5, 32704.29, 34442.81, 2848.36, 11825.59, 566.71, 19.94, 10922.03, 499.62, 532.1, 19.87, 15763.21, 2195.47, 23206.44, 34871.11, 3.2, 125.89, 9592.84, 157.95, 12170.84, 62.78, 2771.21, 14046.65, 2848.42, 8358.89, 5552.79, 1.07, 13642.43, 4572.32, 134.27, 445.06, 1568.43, 15.43, 201.85, 4494.45, 16918.73, 13848.34, 213.86, 238.96, 3511.8, 634.77, 33357.41, 46.49, 112.75, 131.48, 13838.47, 24.0, 102.19, 15697.82, 174.21, 31800.92, 210.77, 405.15, 60.77, 223.48, 6700.23, 1.83, 32108.71, 22.29, 0.0, 108.2, 9176.93, 11.06, 34352.07, 38259.83, 17396.06, 3579.36, 9910.61, 18126.1, 28169.55, 25475.22, 2797.37, 30403.68, 270.55, 3.19, 29304.77, 31204.72, 766.22, 460.53, 30165.72, 23354.1, None, None, 277.75, 5.01, 34143.72, 33194.97, 31360.09, 40093.21, 373.71, 30691.14, 21067.97, 34506.78, None, None, None, None, None, None, None]
totalpay =[105207.29, 1121.28, 95445.89, 23757.5, 88002.74, 1585.6, 5461.57, 661.2, 795.01, 295.41, 114.54, 66036.57, 58496.19, 25534.98, 31981.7, 688.71, 146448.22, 11808.0, 1354.22, 8970.15, 31756.92, 4944.94, 5657.26, 158.29, 62643.37, 835.79, 2012.15, 11889.93, 149956.09, 99050.18, 101971.39, 2056.09, 2529.28, 86331.29, 20276.44, 1892.86, 8485.23, 9188.62, 15932.5, 97676.68, 1962.33, 82052.03, 12617.73, 148365.27, 18174.36, 61850.57, 1357.9, 11175.91, 2123.47, 9456.38, 877.77, 0.0, 98106.53, 37.36, 61208.29, 102504.84, 23757.5, 0.0, 106319.44, 1153.95, 19910.4, 1597.9, 7551.96, 18074.53, 2070.29, 149202.6, 8502.03, 8796.6, 1506.55, 39194.4, 115.72, 3285.99, 981.72, 100822.42, 1348.55, 4312.42, 53190.53, 96651.14, 2337.75, 2396.21, 18885.86, 9228.64, 6.0, 148237.4, 0.0, 27270.72, 12027.91, 72.98, 28586.7, 22650.0, 4015.0, 19559.26, 28182.36, 1745.66, 89799.67, 7781.96, 24288.01, 2173.87, 63902.4, 1001.41, 152848.56, 102369.64, 100778.48, 5706.35, 33484.42, 1934.15, 1994.0, 26981.02, 1871.39, 595.12, 1987.09, 39666.28, 3421.96, 56813.75, 92412.24, 320.0, 1508.8, 18705.79, 568.58, 22931.02, 6276.49, 5904.0, 26818.29, 5714.02, 17563.21, 11718.96, 107.36, 42734.43, 11180.0, 642.91, 1994.0, 27644.52, 1542.97, 2173.87, 7448.84, 60916.15, 34549.35, 2470.15, 1278.2, 106.86, 7858.5, 88987.39, 531.7, 1026.05, 1428.63, 33563.91, 113.94, 372.35, 27597.82, 158.02, 100553.53, 2386.55, 759.76, 289.62, 927.23, 11121.12, 182.58, 91903.92, 2227.77, 1886.38, 544.0, 18395.39, 1106.64, 92504.77, 151429.74, 42682.34, 8444.54, 26973.15, 49887.77, 97043.65, 54472.98, 5997.16, 88675.91, 961.77, 319.02, 67667.55, 69590.3, 8928.12, 4511.81, 82901.08, 72045.4, 178760.58, 17064.42, 1153.78, 501.13, 95456.22, 77454.0, 94120.86, 137510.73, 1824.38, 83775.87, 66289.3, 101971.87, 230827.12, 567595.43, 297608.92, 192914.5, 238551.88, 196494.14, 192951.37]
totalpaybenefits =[139524.66, 1307.05, 129071.16, 33739.71, 116936.65, 1763.67, 8308.31, 667.81, 1025.65, 298.36, 114.54, 89513.97, 77879.37, 38919.75, 43766.89, 832.1, 186630.42, 19767.18, 1743.18, 13713.0, 43628.56, 7751.47, 8505.11, 172.13, 79674.55, 844.14, 2463.16, 18175.28, 186479.79, 133147.67, 134987.81, 3038.44, 3993.87, 117370.71, 31625.88, 2739.94, 8681.42, 14982.84, 22228.39, 131854.1, 2334.2, 113849.01, 13036.05, 186535.52, 28403.95, 92145.7, 1729.84, 11175.91, 2144.7, 11499.04, 1069.04, 7959.18, 131679.7, 46.27, 78763.72, 137519.28, 33739.71, 8014.34, 139818.1, 1368.06, 24378.44, 1613.88, 11916.08, 22320.13, 2090.99, 189864.25, 13142.65, 13544.03, 1623.19, 49366.55, 8074.9, 3572.42, 1265.32, 137235.94, 1673.38, 6953.83, 81039.65, 128504.14, 2542.05, 2420.18, 23237.16, 9969.11, 7.24, 185627.05, 7959.18, 32809.65, 19110.0, 88.18, 38692.45, 29364.77, 4891.07, 24211.81, 38346.82, 2129.09, 123079.67, 11808.51, 32276.85, 2363.91, 86194.27, 1079.42, 195887.06, 135073.93, 135221.29, 8554.71, 45310.01, 2500.86, 2013.94, 37903.05, 2371.01, 1127.22, 2006.96, 55429.49, 5617.43, 80020.19, 127283.35, 323.2, 1634.69, 28298.63, 726.53, 35101.86, 6339.27, 8675.21, 40864.94, 8562.44, 25922.1, 17271.75, 108.43, 56376.86, 15752.32, 777.18, 2439.06, 29212.95, 1558.4, 2375.72, 11943.29, 77834.88, 48397.69, 2684.01, 1517.16, 3618.66, 8493.27, 122344.8, 578.19, 1138.8, 1560.11, 47402.38, 137.94, 474.54, 43295.64, 332.23, 132354.45, 2597.32, 1164.91, 350.39, 1150.71, 17821.35, 184.41, 124012.63, 2250.06, 1886.38, 652.2, 27572.32, 1117.7, 126856.84, 189689.57, 60078.4, 12023.9, 36883.76, 68013.87, 125213.2, 79948.2, 8794.53, 119079.59, 1232.32, 322.21, 96972.32, 100795.02, 9694.34, 4972.34, 113066.8, 95399.5, 178760.58, 17064.42, 1431.53, 506.14, 129599.94, 110648.97, 125480.95, 177603.94, 2198.09, 114467.01, 87357.27, 136478.65, 230827.12, 567595.43, 297608.92, 192914.5, 238551.88, 196494.14, 192951.37]
year =[2014, 2012, 2014, 2014, 2013, 2012, 2014, 2014, 2012, 2013, 2013, 2012, 2014, 2014, 2012, 2014, 2014, 2013, 2012, 2014, 2012, 2012, 2014, 2012, 2012, 2014, 2013, 2014, 2012, 2012, 2013, 2013, 2013, 2014, 2013, 2012, 2014, 2012, 2012, 2012, 2013, 2014, 2014, 2012, 2013, 2012, 2012, 2013, 2013, 2012, 2014, 2013, 2014, 2012, 2014, 2014, 2014, 2013, 2014, 2014, 2013, 2014, 2013, 2012, 2014, 2013, 2014, 2014, 2012, 2012, 2013, 2012, 2012, 2012, 2014, 2012, 2014, 2014, 2012, 2013, 2014, 2012, 2014, 2012, 2013, 2014, 2014, 2013, 2012, 2012, 2013, 2014, 2013, 2013, 2012, 2014, 2013, 2012, 2014, 2012, 2014, 2012, 2014, 2014, 2012, 2014, 2013, 2013, 2012, 2012, 2013, 2013, 2014, 2013, 2012, 2014, 2012, 2012, 2012, 2012, 2014, 2013, 2012, 2014, 2014, 2014, 2013, 2014, 2014, 2013, 2013, 2013, 2013, 2012, 2013, 2014, 2014, 2012, 2014, 2012, 2012, 2012, 2012, 2012, 2012, 2014, 2013, 2012, 2014, 2012, 2013, 2012, 2013, 2013, 2014, 2014, 2014, 2012, 2014, 2013, 2013, 2014, 2014, 2012, 2012, 2012, 2013, 2014, 2014, 2012, 2013, 2012, 2013, 2012, 2013, 2014, 2012, 2012, 2012, 2013, 2012, 2011, 2011, 2014, 2013, 2012, 2012, 2013, 2014, 2013, 2014, 2014, 2014, 2011, 2011, 2011, 2011, 2011, 2011, 2011]
notes=[None]*200
agency =['San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco', 'San Francisco']
status =['PT', None, 'FT', 'PT', None, None, 'PT', 'PT', None, None, None, None, 'PT', 'PT', None, 'PT', 'FT', None, None, 'PT', None, None, 'PT', None, None, 'PT', None, 'PT', None, None, None, None, None, 'FT', None, None, 'PT', None, None, None, None, 'FT', 'PT', None, None, None, None, None, None, None, 'PT', None, 'FT', None, 'PT', 'FT', 'PT', None, 'FT', 'PT', None, 'PT', None, None, 'PT', None, 'PT', 'PT', None, None, None, None, None, None, 'PT', None, 'FT', 'FT', None, None, 'PT', None, 'PT', None, None, 'PT', 'PT', None, None, None, None, 'PT', None, None, None, 'PT', None, None, 'PT', None, 'FT', None, 'FT', 'PT', None, 'PT', None, None, None, None, None, None, 'PT', None, None, 'PT', None, None, None, None, 'PT', None, None, 'PT', 'PT', 'PT', None, 'PT', 'PT', None, None, None, None, None, None, 'PT', 'PT', None, 'PT', None, None, None, None, None, None, 'PT', None, None, 'PT', None, None, None, None, None, 'PT', 'PT', 'PT', None, 'PT', None, None, 'PT', 'PT', None, None, None, None, 'PT', 'PT', None, None, None, None, None, None, 'FT', None, None, None, None, None, None, None, 'PT', None, None, None, None, 'FT', None, 'FT', 'PT', 'FT', None, None, None, None, None, None, None]
# for i in range(len(notes)):
#     notes[i]=None

In [11]:
res={
    'id':id,
    'agency':agency,
    'status':status,
    'employeename':employeename,
    'jobtitle':jobtitle,
    'basepay':basepay,
    'overtimepay':overtimepay,
    'otherpay':otherpay,
    'benefits':benefits,
    'totalpay':totalpay,
    'totalpaybenefits':totalpaybenefits,
    'year':year,
    'notes':notes,
}
df=pd.DataFrame(res)
df

,id,agency,status,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes
0,120566,San Francisco,PT,Teresa L Cavanaugh,EMT/Paramedic/Firefighter,100952.41,0.00,4254.88,34317.37,105207.29,139524.66,2014,None
1,72002,San Francisco,None,Ray Torres,Public Service Trainee,1121.28,0.00,0.00,185.77,1121.28,1307.05,2012,None
2,122662,San Francisco,FT,Rizaldy T Tabada,Deputy Sheriff,92403.77,138.18,2903.94,33625.27,95445.89,129071.16,2014,None
3,140133,San Francisco,PT,Gregory B Bovo,Firefighter,23757.50,0.00,0.00,9982.21,23757.50,33739.71,2014,None
4,87502,San Francisco,None,Jason L Landivar,EMT/Paramedic/Firefighter,82115.61,666.79,5220.34,28933.91,88002.74,116936.65,2013,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,12,San Francisco,None,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,None
196,371,San Francisco,None,TERESA BARRETT,CAPTAIN III (POLICE DEPARTMENT),188328.08,0.00,4586.42,NaN,192914.50,192914.50,2011,None
197,62,San Francisco,None,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,NaN,238551.88,238551.88,2011,None
198,304,San Francisco,None,DOUGLAS MCEACHERN,CAPTAIN III (POLICE DEPARTMENT),194566.01,1109.10,819.03,NaN,196494.14,196494.14,2011,None
199,367,San Francisco,None,JOHN LOFTUS,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4609.75,NaN,192951.37,192951.37,2011,None

In [18]:
con=df['jobtitle']=='CAPTAIN III (POLICE DEPARTMENT)'
res=df[con]
#get the employeename and basepay of the captain
res[['employeename','basepay']]

          employeename    basepay
195   PATRICIA JACKSON   99722.00
196     TERESA BARRETT  188328.08
197         ANNA BROWN  102571.24
198  DOUGLAS MCEACHERN  194566.01
199        JOHN LOFTUS  188341.62