In [ ]:
import pandas as pd

In [ ]:
id = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
customer_id = [102, 104, 100, 101, 103, 102, 103, 101, 101, 103, 102, 104, 100, 100, 104, 102, 102, 100, 104, 101]
courier_id = [224, 224, 239, 205, 218, 201, 205, 246, 218, 211, 223, 211, 204, 231, 246, 231, 246, 205, 204, 231]
seller_id = [79, 75, 79, 79, 71, 77, 79, 77, 79, 77, 79, 77, 71, 79, 75, 77, 79, 77, 77, 75]
order_timestamp_utc = ['2019-03-11 23:27:00', '2019-04-11 04:24:00', '2019-03-11 21:17:00', '2019-03-11 02:34:00', '2019-04-11 00:15:00', '2019-03-11 18:22:00', '2019-04-11 11:15:00', '2019-03-11 04:12:00', '2019-03-11 08:59:00', '2019-03-11 00:22:00', '2019-03-11 10:44:00', '2019-03-11 01:37:00', '2019-03-11 07:00:00', '2019-03-11 03:12:00', '2019-04-11 08:52:00', '2019-03-11 08:26:00', '2019-04-11 01:15:00', '2019-03-11 03:10:00', '2019-04-11 08:14:00', '2019-04-11 10:49:00']
amount = [155.73, 216.6, 168.69, 210.84, 212.6, 220.83, 94.86, 86.15, 75.52, 15.85, 59.69, 153.61, 190.29, 115.45, 225.91, 158.68, 62.72, 125.65, 129.75, 105.07]
city_id = [47, 44, 47, 43, 47, 47, 49, 49, 43, 49, 49, 44, 43, 49, 47, 43, 49, 49, 44, 43]
df=pd.DataFrame({'id':id,'customer_id':customer_id,'courier_id':courier_id,'seller_id':seller_id,'order_timestamp_utc':order_timestamp_utc,'amount':amount,'city_id':city_id})
temp=[]
for i in df.order_timestamp_utc:
    temp.append(pd.Timestamp(i))
df.order_timestamp_utc=temp
df

In [6]:
id = [43, 44, 47, 49]
name = ['Boston', 'Seattle', 'Denver', 'Chicago']
timezone = ['EST', 'PST', 'MST', 'CST']
df2=pd.DataFrame({'id':id,'name':name,'timezone':timezone})
df3=pd.merge(df,df2,left_on='city_id',right_on='id')

In [7]:
id = [71, 75, 77, 79]
name = ["Papa John's", "Domino's Pizza", 'Pizza Hut', "Papa Murphy's"]
category = ['Pizza', 'Pizza', 'Pizza', 'Pizza']
df4=pd.DataFrame({'id':id,'name':name,'category':category})
df5=pd.merge(df3,df4,left_on='seller_id',right_on='id')
df5

,id_x,customer_id,courier_id,seller_id,order_timestamp_utc,amount,city_id,id_y,name_x,timezone,id,name_y,category
0,1,102,224,79,2019-03-11 23:27:00,155.73,47,47,Denver,MST,79,Papa Murphy's,Pizza
1,3,100,239,79,2019-03-11 21:17:00,168.69,47,47,Denver,MST,79,Papa Murphy's,Pizza
2,4,101,205,79,2019-03-11 02:34:00,210.84,43,43,Boston,EST,79,Papa Murphy's,Pizza
3,9,101,218,79,2019-03-11 08:59:00,75.52,43,43,Boston,EST,79,Papa Murphy's,Pizza
4,7,103,205,79,2019-04-11 11:15:00,94.86,49,49,Chicago,CST,79,Papa Murphy's,Pizza
5,11,102,223,79,2019-03-11 10:44:00,59.69,49,49,Chicago,CST,79,Papa Murphy's,Pizza
6,14,100,231,79,2019-03-11 03:12:00,115.45,49,49,Chicago,CST,79,Papa Murphy's,Pizza
7,17,102,246,79,2019-04-11 01:15:00,62.72,49,49,Chicago,CST,79,Papa Murphy's,Pizza
8,5,103,218,71,2019-04-11 00:15:00,212.60,47,47,Denver,MST,71,Papa John's,Pizza
9,13,100,204,71,2019-03-11 07:00:00,190.29,43,43,Boston,EST,71,Papa John's,Pizza
10,6,102,201,77,2019-03-11 18:22:00,220.83,47,47,Denver,MST,77,Pizza Hut,Pizza
11,12,104,211,77,2019-03-11 01:37:00,153.61,44,44,Seattle,PST,77,Pizza Hut,Pizza
12,19,104,204,77,2019-04-11 08:14:00,129.75,44,44,Seattle,PST,77,Pizza Hut,Pizza
13,16,102,231,77,2019-03-11 08:26:00,158.68,43,43,Boston,EST,77,Pizza Hut,Pizza
14,8,101,246,77,2019-03-11 04:12:00,86.15,49,49,Chicago,CST,77,Pizza Hut,Pizza
15,10,103,211,77,2019-03-11 00:22:00,15.85,49,49,Chicago,CST,77,Pizza Hut,Pizza
16,18,100,205,77,2019-03-11 03:10:00,125.65,49,49,Chicago,CST,77,Pizza Hut,Pizza
17,15,104,246,75,2019-04-11 08:52:00,225.91,47,47,Denver,MST,75,Domino's Pizza,Pizza
18,2,104,224,75,2019-04-11 04:24:00,216.60,44,44,Seattle,PST,75,Domino's Pizza,Pizza
19,20,101,231,75,2019-04-11 10:49:00,105.07,43,43,Boston,EST,75,Domino's Pizza,Pizza