In [2]:
import pandas as pd
from datetime import datetime
user_id = [0, 2, 3, 1, 2, 0, 0, 3, 1, 2]
session_id = [539, 840, 848, 515, 646, 782, 815, 630, 907, 949]
session_type = ['streamer', 'streamer', 'streamer', 'viewer', 'viewer', 'streamer', 'viewer', 'viewer', 'streamer', 'viewer']
tsession_start =  ['2020-08-11 05:51:31', '2020-07-11 03:36:54', '2020-11-26 11:41:47', '2020-11-19 06:24:24', '2020-11-14 03:36:05', '2020-03-11 03:01:40', '2020-08-11 03:50:45', '2020-10-11 22:15:14', '2020-11-20 06:59:57', '2020-07-11 14:32:19']
tsession_end = ['2020-08-11 05:54:45', '2020-07-11 03:37:08', '2020-11-26 11:52:01', '2020-11-19 07:24:38', '2020-11-14 03:39:19', '2020-03-11 03:01:59', '2020-08-11 03:55:59', '2020-10-11 22:18:28', '2020-11-20 07:20:11', '2020-07-11 14:42:33']
session_start=[]
session_end = []
for i in range(len(tsession_start)):
    session_start.append(datetime.strptime(tsession_start[i], '%Y-%m-%d %H:%M:%S'))
    session_end.append(datetime.strptime(tsession_end[i], '%Y-%m-%d %H:%M:%S'))    
df=pd.DataFrame({'user_id':user_id,'session_id':session_id,'session_type':session_type,'session_start':session_start,'session_end':session_end})

In [12]:
#print the month of the session_start column as january, february, etc.
df

,user_id,session_id,session_type,session_start,session_end,month
0,0,539,streamer,2020-08-11 05:51:31,2020-08-11 05:54:45,August
1,2,840,streamer,2020-07-11 03:36:54,2020-07-11 03:37:08,July
2,3,848,streamer,2020-11-26 11:41:47,2020-11-26 11:52:01,November
3,1,515,viewer,2020-11-19 06:24:24,2020-11-19 07:24:38,November
4,2,646,viewer,2020-11-14 03:36:05,2020-11-14 03:39:19,November
5,0,782,streamer,2020-03-11 03:01:40,2020-03-11 03:01:59,March
6,0,815,viewer,2020-08-11 03:50:45,2020-08-11 03:55:59,August
7,3,630,viewer,2020-10-11 22:15:14,2020-10-11 22:18:28,October
8,1,907,streamer,2020-11-20 06:59:57,2020-11-20 07:20:11,November
9,2,949,viewer,2020-07-11 14:32:19,2020-07-11 14:42:33,July

2010

In [19]:
by_count={}
by_time={}
for i in range(len(df)):
    row=df.iloc[i]
    if row.user_id not in by_count:
        by_count[row.user_id]={'streamer':0,'viewer':0}
    by_count[row.user_id][row.session_type]+=1
    if row.user_id not in by_time:
        by_time[row.user_id]={'streamer':0,'viewer':0}
    by_time[row.user_id][row.session_type]+=(row.session_end-row.session_start).total_seconds()
print(by_count)
print(by_time)
by_count_df=pd.DataFrame(by_count)
by_count_df=by_count_df.T
by_count_df=by_count_df.reset_index()
by_count_df=by_count_df.rename(columns={'index':'user_id'})
#filter by_count_df to only include users who have more streamer sessions than viewer sessions
by_count_df = by_count_df[by_count_df['streamer'] > by_count_df['viewer']]
by_count_df

{0: {'streamer': 2, 'viewer': 1}, 2: {'streamer': 1, 'viewer': 2}, 3: {'streamer': 1, 'viewer': 1}, 1: {'streamer': 1, 'viewer': 1}}
{0: {'streamer': 213.0, 'viewer': 314.0}, 2: {'streamer': 14.0, 'viewer': 808.0}, 3: {'streamer': 614.0, 'viewer': 194.0}, 1: {'streamer': 1214.0, 'viewer': 3614.0}}

   user_id  streamer  viewer
0        0         2       1

2011