In [26]:
import pandas as pd
import os
from random import randint,choice,random
from datetime import datetime, timedelta

In [27]:
def gen_datetime(min_year=1900, max_year=datetime.now().year):
    
    start = datetime(min_year, 1, 1, 0, 0, 0)
    years = max_year - min_year + 1
    end = start + timedelta(days=365 * years)
    return start + (end - start) * random()
def convert_str_to_datetime(s):
    temp=s
    s1=[]
    if s[-1]=="\n":
        temp=s[:-1]
    temp=temp.split("-")
    try:
        return datetime(temp[0],temp[1],temp[2])
    except:
        return None

In [32]:
#crete a function to generate data with a given length and args
def generate_data(length, list_of_args):
    #get the path of the current folder parent
    path=os.getcwd()
    data_path=os.path.abspath(os.path.join(path, os.pardir))
    data = pd.DataFrame()
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    if 'first_name' in list_of_args:
        temp=[]
        names=[]
        #read the firt_names.txt from the data folder into a list
        with open(data_path+'/data/first_names.txt', 'r') as f:
            for line in f:
                names.append(line.strip())
        for i in range(length):
            temp.append(choice(names))
        data['first_name']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'last_name' in list_of_args:
        temp=[]
        names=[]
        #read the last_names.txt from the data folder into a list
        with open(data_path+'/data/last_names.txt', 'r') as f:
            for line in f:
                names.append(line.strip())
        for i in range(length):
            temp.append(choice(names))
        data['last_name']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'date' in list_of_args:
        temp=[]
        for i in range(length):
            temp.append(gen_datetime().strftime("%Y-%m-%d"))
        data['date']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'age' in list_of_args:
        temp=[]
        for i in range(length):
            temp.append(randint(1,100))
        data['age']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'adress' in list_of_args:
        temp=[]
        adress=[]
        
        with open(data_path+'/data/adress.txt', 'r') as f:
            for line in f:
                adress.append(line.strip())
        for i in range(length):
            temp.append(choice(adress))
        data['adress']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'score_1-5' in list_of_args:
        temp=[]
        for i in range(length):
            temp.append(random()*randint(1,5))
        data['score_1-5']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'score_1-10' in list_of_args:
        temp=[]
        for i in range(length):
            temp.append(random()*randint(1,10))
        data['score_1-10']=temp
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    if 'score_1-100' in list_of_args:
        temp=[]
        for i in range(length):
            temp.append(randint(1,100))
        data['score_1-100']=temp
    return data

In [33]:
df=generate_data(10, ['first_name','last_name','date'])
df

  first_name last_name        date
0       Ryan      Cook  2005-09-29
1    Michael  Martinez  1965-07-15
2      Brian   Solomon  1938-10-13
3     Victor    Gamble  1905-07-05
4      Craig     Fritz  1947-04-17
5     Joshua   Bullock  1908-10-05
6      Derek      Pace  1982-01-11
7      Derek    Brewer  1914-07-08
8    Desiree    Fisher  1952-06-15
9      Keith   Stewart  1969-06-22