In [1]:
import pandas as pd
id =[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]
user_id =[8, 40, 28, 33, 1, 32, 3, 23, 31, 1, 41, 19, 49, 28, 48, 50, 48, 13, 24, 25, 39, 36, 37, 32, 34, 37, 11, 47, 46, 15, 11, 31, 7, 34, 2, 45, 48, 15, 47, 18, 34, 47, 24, 26, 20, 27, 26, 10, 12, 9, 36, 12, 44, 9, 14, 28, 39, 5, 46, 14, 8, 44, 21, 11, 38, 23, 34, 12, 43, 20, 20, 25, 25, 8, 50, 43, 11, 17, 1, 20, 27, 17, 8, 42, 43, 17, 15, 47, 9, 42, 43, 12, 49, 25, 32, 9, 47, 43, 14, 2]
distance =[93, 56, 83, 83, 87, 49, 5, 37, 62, 35, 89, 64, 57, 68, 94, 89, 29, 16, 58, 19, 13, 10, 38, 76, 61, 10, 61, 35, 17, 8, 36, 24, 96, 64, 75, 11, 58, 92, 88, 27, 67, 70, 52, 98, 45, 60, 94, 90, 63, 43, 18, 11, 76, 93, 82, 26, 68, 92, 91, 66, 47, 52, 81, 69, 82, 42, 85, 30, 85, 30, 50, 74, 96, 74, 46, 77, 40, 90, 78, 25, 31, 91, 29, 85, 95, 24, 42, 37, 15, 71, 9, 53, 73, 50, 85, 55, 98, 9, 66, 39]
lyft_rides_log=pd.DataFrame({'id':id,'user_id':user_id,'distance':distance})

id2 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
name =['Dustin Smith', 'Jay Ramirez', 'Joseph Cooke', 'Melinda Young', 'Sean Parker', 'Ian Foster', 'Christopher Schmitt', 'Patrick Gutierrez', 'Dennis Douglas', 'Brenda Morris', 'Jeffery Hernandez', 'David Rice', 'Charles Foster', 'Keith Perez DVM', 'Dean Cuevas', 'Melissa Bishop', 'Alexander Howell', 'Austin Robertson', 'Sherri Mcdaniel', 'Nancy Nguyen', 'Melody Ball', 'Christopher Stokes', 'Joseph Hamilton', 'Kevin Fischer', 'Crystal Berg', 'Barbara Larson', 'Jacqueline Heath', 'Eric Gardner', 'Daniel Kennedy', 'Kaylee Sims', 'Shannon Green', 'Stacy Collins', 'Donna Ortiz', 'Jennifer Simmons', 'Michael Gill', 'Alyssa Shaw', 'Destiny Clark', 'Thomas Lara', 'Mark Diaz', 'Stacy Bryant', 'Howard Rose', 'Brian Schwartz', 'Kimberly Potter', 'Cassidy Ryan', 'Benjamin Mcbride', 'Elizabeth Ward', 'Christina Price', 'Pamela Cox', 'Jessica Peterson', 'Michael Nelson']
lyft_users=pd.DataFrame({'id':id2,'name':name})

In [22]:

temp=lyft_rides_log.groupby('user_id').distance.sum().sort_values(ascending=False)
#create a new dataframe and sum the distances for each user_id,name, and distance
lyft_rides_log2=pd.DataFrame({'user_id':temp.index,'distance':temp.values})
#for each row in lyft_rides_log2, create a new column called name and assign the name of the user_id
lyft_rides_log2['name']=lyft_rides_log2.user_id.apply(lambda x: lyft_users[lyft_users.id==x].name.values[0])
#sort the dataframe by distance
lyft_rides_log2.sort_values('distance',ascending=False)
#change the position of the columns in the dataframe to be user_id, name, distance
lyft_rides_log2=lyft_rides_log2[['user_id','name','distance']]
lyft_rides_log2

    user_id                 name  distance
0        47      Christina Price       328
1        34     Jennifer Simmons       277
2        43      Kimberly Potter       275
3         8    Patrick Gutierrez       243
4        25         Crystal Berg       239
5        14      Keith Perez DVM       214
6        32        Stacy Collins       210
7         9       Dennis Douglas       206
8        11    Jeffery Hernandez       206
9        17     Alexander Howell       205
10        1         Dustin Smith       200
11       26       Barbara Larson       192
12       48           Pamela Cox       181
13       28         Eric Gardner       177
14       12           David Rice       157
15       42       Brian Schwartz       156
16       20         Nancy Nguyen       150
17       15          Dean Cuevas       142
18       50       Michael Nelson       135
19       49     Jessica Peterson       130
20       44         Cassidy Ryan       128
21        2          Jay Ramirez       114
22       24        Kevin Fischer       110
23       46       Elizabeth Ward       108
24        7  Christopher Schmitt        96
25        5          Sean Parker        92
26       27     Jacqueline Heath        91
27       10        Brenda Morris        90
28       41          Howard Rose        89
29       31        Shannon Green        86
30       33          Donna Ortiz        83
31       38          Thomas Lara        82
32       21          Melody Ball        81
33       39            Mark Diaz        81
34       23      Joseph Hamilton        79
35       19      Sherri Mcdaniel        64
36       40         Stacy Bryant        56
37       37        Destiny Clark        48
38       36          Alyssa Shaw        28
39       18     Austin Robertson        27
40       13       Charles Foster        16
41       45     Benjamin Mcbride        11
42        3         Joseph Cooke         5

In [3]:
lyft_users

    id                 name
0    1         Dustin Smith
1    2          Jay Ramirez
2    3         Joseph Cooke
3    4        Melinda Young
4    5          Sean Parker
5    6           Ian Foster
6    7  Christopher Schmitt
7    8    Patrick Gutierrez
8    9       Dennis Douglas
9   10        Brenda Morris
10  11    Jeffery Hernandez
11  12           David Rice
12  13       Charles Foster
13  14      Keith Perez DVM
14  15          Dean Cuevas
15  16       Melissa Bishop
16  17     Alexander Howell
17  18     Austin Robertson
18  19      Sherri Mcdaniel
19  20         Nancy Nguyen
20  21          Melody Ball
21  22   Christopher Stokes
22  23      Joseph Hamilton
23  24        Kevin Fischer
24  25         Crystal Berg
25  26       Barbara Larson
26  27     Jacqueline Heath
27  28         Eric Gardner
28  29       Daniel Kennedy
29  30          Kaylee Sims
30  31        Shannon Green
31  32        Stacy Collins
32  33          Donna Ortiz
33  34     Jennifer Simmons
34  35         Michael Gill
35  36          Alyssa Shaw
36  37        Destiny Clark
37  38          Thomas Lara
38  39            Mark Diaz
39  40         Stacy Bryant
40  41          Howard Rose
41  42       Brian Schwartz
42  43      Kimberly Potter
43  44         Cassidy Ryan
44  45     Benjamin Mcbride
45  46       Elizabeth Ward
46  47      Christina Price
47  48           Pamela Cox
48  49     Jessica Peterson
49  50       Michael Nelson